DB_HOST=postgres
DB_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

MYSQL_ROOT_PASSWORD=your_password

PRODUCT_DB_NAME=product_db
PRODUCT_DB_USERNAME=root
PRODUCT_DB_PASSWORD=your_password
PRODUCT_SERVER_PORT=8686

ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=postgres
ORDER_DB_PASSWORD=your_password
ORDER_SERVER_PORT=8687

GATEWAY_SERVER_PORT=8080

PRODUCT_SERVICE_URL=http://product-service:8081
ORDER_SERVICE_URL=http://order-service:8082
